<!--
  Generated template for the BrowseBusiness page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Businesses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="state">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <nebo-loading-spinner *ngSwitchCase="'loading'"></nebo-loading-spinner>
  <div *ngSwitchCase="'loaded'">
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        <ion-thumbnail item-left>
          <img src="{{ item.image.src }}">
        </ion-thumbnail>
        <h2>
          {{ item.title }}
          <span *ngIf="item.favorited">
            <ion-icon name="heart" color="primary" small></ion-icon>
          </span>
        </h2>
        <p>{{ item.formattedDistance }} km away</p>
        <h3>{{ item.category }}</h3>
        <p>{{ item.desc }}</p>
      </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
