<!--
  Generated template for the Highlights page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nebo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="state">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <nebo-loading-spinner *ngSwitchCase="'loading'"></nebo-loading-spinner>
  <div *ngSwitchCase="'loaded'" class="location-card">
    <ion-card [ngSwitch]="findLocation">
      <ion-item *ngSwitchCase="'found'">
        <ion-icon name="pin" color="primary" item-left large></ion-icon>
        <p>You are in:</p>
        <h2>{{ location }}</h2>
        <button ion-button clear item-right (click)="showMap()">
          View map
        </button>
      </ion-item>
        <ion-item *ngSwitchCase="'finding'">
        <ion-spinner item-left></ion-spinner>
        <p>Finding your location.</p>
        <h2>Please wait.</h2>
      </ion-item>
    </ion-card>
    <!--
    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <img src="">
        </ion-avatar>
        <h2>It's almost lunch time.</h2>
        <p>What do you want to do?</p>
      </ion-item>
      <ion-card-content>
        <button ion-button block>
          Check food promotion
        </button>
        <button ion-button block>
          Find places to eat
        </button>
        <button ion-button block>
          Find food delivery nearby
        </button>
      </ion-card-content>
    </ion-card>
    -->
    <div class="announcements" *ngIf="announcements.nodes.length">
      <ion-card>
        <ion-list>
          <ion-item-divider color="primary">NEW ANNOUNCEMENTS</ion-item-divider>
          <button ion-item *ngFor="let item of announcements.nodes" (click)="itemSelected(item)">
            <ion-thumbnail item-left>
              <img src="{{ item.image.src }}">
            </ion-thumbnail>
            <h2>{{ item.title }}</h2>
            <p>{{ item.group }}</p>
            <p>{{ item.content }}</p>
          </button>
        </ion-list>
      </ion-card>
    </div>

    <div class="events" *ngIf="events.nodes.length">
      <ion-card>
        <ion-list>
          <ion-item-divider color="primary">UPCOMING EVENTS</ion-item-divider>
          <button ion-item class="my-item" *ngFor="let item of events.nodes" (click)="itemSelected(item)">
            <ion-thumbnail item-left>
              <img src="{{ item.image.src }}">
            </ion-thumbnail>
            <h2>{{ item.title }}</h2>
            <p>{{ item.group }}</p>
            <p>{{ item.content }}</p>
          </button>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-fab bottom right *ngIf="canAddContent">
    <button ion-fab color="primary" (click)="addContent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
