page-event-detail {
  .profile {
    ion-icon {
      margin: 2px 5px 2px 0;
    }

    ion-list {
      margin-bottom: 0;
    }

    .title {
      position: relative;

      h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 50px;
      }

      .more-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 3px;
      }
    }

    .date {
      ion-grid, ion-row {
        padding: 0;
      }

      .time-to-start {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .info {
      font-size: small;

      ion-icon {
        margin-top: 0;
        margin-bottom: 0;
      }
      ion-grid {
        padding: 0;
      }
    }
  }

  .action-buttons {
    button, a {
      text-align: center;
      width: 100%;
    }
    .action-text {
      font-size: small;
      margin-top: 10px;
      text-transform: capitalize;
    }
  }

  .body {
    p {
      white-space: pre-line;
    }
  }
  
}
