$profileThumbnailDim: 100px;

page-organization-detail {
  ion-content {
    background-color: #e5e5e5 !important;
  }
  .cover-picture {
    position: relative;
    background-color: #ccc;
    background-size: cover;
    height: 240px;
    z-index: 1;
  }

  .announcements, .events, .gallery, .about {
    margin-top: 16px;
  }

  .gallery {
    button {
      padding: 0;
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .profile {
    background-color: #fff;

    ion-thumbnail {
      img {
        width: $profileThumbnailDim;
        height: $profileThumbnailDim;
      }
    }

    ion-icon {
      margin: 2px 5px 2px 0;
    }

    h1.title {
      white-space: normal;
    }

    .subtitle {
      margin-top: 15px;
      font-size: small;

      ion-icon {
        margin : {
          top: 2px;
          bottom: 2px;
        }
      }
    }
  }

  .action-buttons {
    button, a {
      text-align: center;
      width: 100%;
    }
    .action-text {
      font-size: small;
      margin-top: 10px;
      text-transform: capitalize;
    }
  }

  .about {
    background-color: #fff;

    p {
      white-space: pre-line;
    }
  }
}
