<!--
  Generated template for the EventEditForm page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding [ngSwitch]="state">
  <nebo-loading-spinner *ngSwitchCase="'loading'"></nebo-loading-spinner>
  <div *ngSwitchCase="'loaded'">
    <form [formGroup]="form" (ngSubmit)="save()">
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea formControlName="body"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Group</ion-label>
        <ion-select formControlName="group">
          <ion-option *ngFor="let option of groupOptions" value="{{ option.nid }}">{{ option.title }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Date start</ion-label>
        <ion-datetime displayFormat="DDD D/M/YYYY h:mm A" pickerFormat="D/MMM/YYYY h:mm A" formControlName="start"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Date finish</ion-label>
        <ion-datetime displayFormat="DDD D/M/YYYY h:mm A" pickerFormat="D/MMM/YYYY h:mm A" formControlName="finish"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Coordinates</ion-label>
        <ion-input type="tel" formControlName="latitude" placeholder="Latitude"></ion-input>
        <ion-input type="tel" formControlName="longitude" placeholder="Longitude"></ion-input>
      </ion-item>
      <ion-item *ngIf="action == 'create'">
        <ion-label>Publish period (expire)</ion-label>
        <ion-select formControlName="publishPeriod">
          <ion-option *ngFor="let option of neerby.periodOptionsWD" value="{{ option.period }}">{{ option.label }}</ion-option>
        </ion-select>
      </ion-item>
      
      <div padding>
        <button ion-button [disabled]="!form.valid" type="submit" color="primary" block>{{ buttonText }}</button>
      </div>
    </form>
  </div>
</ion-content>
